@font-face {
    font-family: "Russo One Regular";
    src: url("../../public/fonts/RussoOne-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../public/fonts/RobotoSlab-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Tele2 TextSans";
    src: url("../../public/fonts/tele2_textsans-regular.eot") format("eot");
    src: url("../../public/fonts/tele2_textsans-regular.woff") format("woff");
    src: url("../../public/fonts/tele2_textsans-regular.ttf") format("ttf");
    src: url("../../public/fonts/tele2_textsans-regular.svg") format("svg");
    font-weight: normal;
}