@font-face {
    font-family: "Russo One Regular";
    src: url("../../public/fonts/RussoOne-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../public/fonts/RobotoSlab-Regular.ttf");
    font-weight: normal;
}
