header {
  display: flex;
  flex-direction: row;
  padding: 10px 16px 10px 14px;
  justify-content: space-between;
  height: 45px;
  border-bottom: 1px solid rgb(255 255 255 / 20%);

  .logo {
    width: 48px;
  }
}


.location__image {
  display: inline-block;
  vertical-align: middle;
}

.location__city {
  display: inline-block;
  color: #fff;
  font-family: "Tele2 TextSans";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
